/* Styling for the entire registration form */
.App {
  height: 100vh;  /*where vh is relative to 1% of the height of the viewport*/
  display: flex;
  color: white;
}

/* Styling for the left side of the registration form */
.Page_Left {
  width: 50%;
  background: linear-gradient(rgba(40,38,44,0.7), rgba(40,38,44,0.7)), url("./image/woman-smiling.jpg");
  background-size: 110vh 100vh;
  background-color: #28262c;
  z-index: 2; 
}

/* Styling for the right side of the registration form */
.Page_Right {
  width: 50%;
  background-color: #f9f5ff;
  padding: 25px 40px;
  overflow: auto; 
}

.SwitchForms {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.SwitchForms_Button {
  background-color: #14248a;
  color: #f9f5ff;
  padding:  10px 25px;
  cursor: pointer;
  font-size: 0.9 em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

/*Styling for the active form button*/
.SwitchForms_Button--Active {
  background-color: #d4c2fc;
  color: #998fc7;
}

/*Rounding out the left form button (sign-up button)*/
.SwitchForms_Button:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

/* Rounding out the right form button (sign-in button)*/
.SwitchForms_Button:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.ActiveFormTitle {
  color: #998fc7;
  font-weight: 300; /* font weight for Roboto font */
  margin-bottom: 50px;
}

.ActiveCurrentSignUpTitle {
  color: #14248a;
  display: block;
  /* border-bottom: 1px solid #14248a; */
  font-size: 1.7em;
  padding-bottom: 5px;
}

.ActiveCurrentSignInTitle {
  color: #14248a;
  display: block;
  /* border-bottom: 1px solid #14248a; */
  font-size: 1.7em;
  padding-bottom: 5px;
}

/* Styling the form field */
.FormField {
  margin-bottom: 40px;
}

/* Styling the labels for the form fields */
.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #998fc7;
}

/* Styling the input section of the form fields */
.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: #14246a;
  outline: none;
  border-bottom: 1px solid #998fc7;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

/* Styling the placeholder text for the form fields */
.FormField__Input::placeholder {
  color: #d4c2fc;
}

/* Styling the bottom button for the form */
.FormField__Button {
  position: relative;
  top: 50px;
  background-color: #14246a;
  color: #f9f5ff;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: .8em;
  font-weight: 500;
}

.FormField__Text {
  position: relative;
  top: 53px;
  left: 20px;
  color: #14248a;
  background: transparent;
}

/* Styling the form link for toggling between the two forms */
.FormField__Link {
  position: relative;
  top: 50px;
  left: 25px;
  color: #d4c2fc;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #998fc7;
  padding-bottom: 5px;
}

/* Styling the text for the form's checkbox label */
.FormField__CheckboxLabel {
  color: #d4c2fc;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

/* Styling the link for the Terms of Service */
.FormField__TermsLink {
  color: #14246a;
  border-bottom: 1px solid #998fc7;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}